MedacProject/MedacProject/Alert System/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMedacService" />
      <xsd:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ValidadePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidadePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidadePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidadePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPatient" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMeasurement" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMeasurementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBloodPressureMax_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewBloodPressureMax" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBloodPressureMax_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewBloodPressureMaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBloodPressureMin_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewBloodPressureMin" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBloodPressureMin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewBloodPressureMinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewHearRate_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewHearRate" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewHearRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewHearRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewOxygenSaturation_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewOxygenSaturation" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewOxygenSaturation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewOxygenSaturationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ValidadePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidadePatient" message="tns:IService1_ValidadePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidadePatientResponse" message="tns:IService1_ValidadePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterPatient" message="tns:IService1_RegisterPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterPatientResponse" message="tns:IService1_RegisterPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterMeasurement" message="tns:IService1_RegisterMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterMeasurementResponse" message="tns:IService1_RegisterMeasurement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewBloodPressureMax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewBloodPressureMax" message="tns:IService1_ViewBloodPressureMax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewBloodPressureMaxResponse" message="tns:IService1_ViewBloodPressureMax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewBloodPressureMin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewBloodPressureMin" message="tns:IService1_ViewBloodPressureMin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewBloodPressureMinResponse" message="tns:IService1_ViewBloodPressureMin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewHearRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewHearRate" message="tns:IService1_ViewHearRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewHearRateResponse" message="tns:IService1_ViewHearRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewOxygenSaturation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewOxygenSaturation" message="tns:IService1_ViewOxygenSaturation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewOxygenSaturationResponse" message="tns:IService1_ViewOxygenSaturation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidadePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidadePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPatient">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterMeasurement">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewBloodPressureMax">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewBloodPressureMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewBloodPressureMin">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewBloodPressureMin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewHearRate">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewHearRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewOxygenSaturation">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewOxygenSaturation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51635/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>